<%= form_tag search_listings_path, method: :get do |f| %>
	<%= text_field_tag :search, nil, placeholder: 'search' %>
	<%= text_field_tag :location, nil, placeholder: 'near' %>
	<%= select_tag :category, options_for_select(Category.all.map{|c| [c.name, c.id]}) %>
	<%= submit_tag '>' %>
<% end %>
<%= link_to "create new listing", new_listing_path(@model) %>
<div>
	<%= link_to 'Show listings', listings_path %>
</div>
<%= @categories.each do |category|%>
	<h2>
		<%= link_to category.name.capitalize, category_path(category)%>
	</h2>
		<%= category.subcategories.each do |subcategory| %>
	<ul>
		<li>
			<h3>
				<%= link_to subcategory.name, category_subcategory_path(category, subcategory) %>
			</h3>
		</li>
	</ul>
	<% end %>
<% end %>


<ul>
	<li>
		<%= link_to "help & faq", help_path %>
	</li>
	<li>
		<%= link_to "avoid scams & fraud", scams_path %>
	</li>
	<li>
		<%= link_to "personal safety tips", personal_path %>
	</li>
	<li>
		<%= link_to "term of use", terms_path %>
	</li>
	<li>
		<%= link_to "privacy policy", policy_path %>
	</li>
	<li>
		<%= link_to "about rubylist", about_path %>
	</li>
	<li>
		<%= link_to "avoid scams & fraud", contact_path %>
	</li>
</ul>
