<%= link_to "create new listing", new_listing_path(@model) %>
<div>
	<%= link_to 'Show listings', listings_path %>
</div>

<%= link_to "Community", category_path(@community)%>
<% @community.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategories_path(@community, subcategory) %>
	</li>
</ul>
<%end%>

<%= link_to "Housing", category_path(@housing) %>
<% @housing.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %>
	</li>
</ul>
<%end%>

<%= link_to "Services", category_path(@serices) %>
<% @serices.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategory_path(@serices, subcategory) %>
	</li>
</ul>
<%end%>

<%= link_to "Personals", category_path(@personals)%>
<% @personals.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategory_path(@personals, subcategory) %>
	</li>
</ul>
<%end%>

<%= link_to "For sale", category_path(@for_sale) %>
<% @for_sale.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategory_path(@for_sale, subcategory) %>
	</li>
</ul>
<%end%>

<%= link_to "Jobs", category_path(@jobs) %>
<% @jobs.subcategories.each do |subcategory| %>
<ul>
	<li>
		<%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %>
	</li>
</ul>
<%end%>

<ul>
	<li>
		<%= link_to "help & faq", help_path %>
	</li>
	<li>
		<%= link_to "avoid scams & fraud", scams_path %>
	</li>
	<li>
		<%= link_to "personal safety tips", personal_path %>
	</li>
	<li>
		<%= link_to "term of use", terms_path %>
	</li>
	<li>
		<%= link_to "privacy policy", policy_path %>
	</li>
	<li>
		<%= link_to "about rubylist", about_path %>
	</li>
	<li>
		<%= link_to "avoid scams & fraud", contact_path %>
	</li>
</ul>
